input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    border: 2px solid $input-white;
    background: $input-white;
    font-family: 'Nunito';
    height: 4rem;
    padding: 0 0.5rem;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;

    &:focus,
    &:active {
        border-color: $purple;
    }
}

textarea {
    display: block;
    border: 2px solid $input-white;
    background: $input-white;
    width: 100%;
    resize: vertical;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    padding: 0.5rem;
    font-family: 'Nunito';
    min-height: 6rem;

    &:focus,
    &:active {
        border-color: $purple;
    }
}

label {
    font-size: 1.3rem;
    font-weight: 700;
}

.input-wrap {
    label {
        display: block;
        margin-bottom: 0.3rem;
    }
}

.check-wrap {
    display: grid;
    grid-gap: 1.5rem;

    &.inline {
        display: flex;
        label {
            margin-right: 1.5rem;
        }
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    span {
        font-size: 1.4rem;
    }
}

.input-wrap,
.check-wrap {
    .description {
        display: block;
        font-size: 1.2rem;
        color: $base;
        margin: 0.2rem 0;
    }
}


.form-wrap {
    display: grid;
    grid-gap: 2rem;
}

.button,
button {
    text-decoration: none;
    height: 4rem;
    border-radius: 2px;
    border: none;
    color: $white;
    font-family: 'Nunito';
    font-size: 1.4rem;
    background: $teal;
    text-align: center;
    line-height: 4rem;
    cursor: pointer;

    &.full-width {
        display: block;
        width: 100%;
    }

    &.secondary {
        background: $base;
    }

    &.action {
        background: linear-gradient(300deg, $purple-light 20%, $purple 50%, $purple-deep 75%);
    }

    &.error {
        background: $red-deep;
    }
}