.sink {
    padding: 0 4rem;

    .grid {
        .col.first {
            padding: 1.5rem;
            text-align: center;
            background-color: $purple;
            color: $white;
        }
    }
}