$purple: #512da8;
$purple-deep: #311b92;

$teal: #00897b;
$teal-deep: #00796b;

$red: #ff1744;
$red-deep: #d52020;

$white: #ffffff;
$off-white-1: #eceff1;
$off-white-2: #CFD8DC;

$base: #37474f;
$light-base: #585858;