@import 'variables.scss';
@import 'grid.scss';
@import 'input.scss';
@import 'sink.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    font-family: 'Nunito';
    font-size: 62.5%;
    background: $off-white-1;
}

body {
    font-size: 1.4rem;
    margin: 0;
}


.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    form {
        border-radius: 2px;
        width: 30rem;
        padding: 4rem 2rem;

        h1 {
            text-align: center;
            font-weight: normal;
        }
    }
}