@import 'variables.scss';
@import 'grid.scss';
@import 'typography.scss';
@import 'input.scss';
@import 'sink.scss';

@import 'admin/layout.scss';
@import 'admin/dashboard.scss';
@import 'admin/post.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    font-family: 'Nunito';
    font-size: 62.5%;
    background: $off-white-1;
}

body {
    font-size: 1.4rem;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    form {
        border-radius: 2px;
        width: 30rem;
        padding: 4rem 2rem;

        h1 {
            text-align: center;
            font-weight: normal;
        }
    }
}