.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2rem;
}

.grid .col {
  grid-column: col-start/span 12;
}

.grid .col.col-1 {
  grid-column-start: span 1;
}

.grid .col.col-2 {
  grid-column-start: span 2;
}

.grid .col.col-3 {
  grid-column-start: span 3;
}

.grid .col.col-4 {
  grid-column-start: span 4;
}

.grid .col.col-5 {
  grid-column-start: span 5;
}

.grid .col.col-6 {
  grid-column-start: span 6;
}

.grid .col.col-7 {
  grid-column-start: span 7;
}

.grid .col.col-8 {
  grid-column-start: span 8;
}

.grid .col.col-9 {
  grid-column-start: span 9;
}

.grid .col.col-10 {
  grid-column-start: span 10;
}

.grid .col.col-11 {
  grid-column-start: span 11;
}

.grid .col.col-12 {
  grid-column-start: span 12;
}

h1 {
  font-weight: 500;
  margin: 2rem 0;
  font-size: 2.8rem;
}

h2 {
  font-weight: 500;
  margin: 2rem 0;
  font-size: 2.4rem;
}

h3 {
  font-weight: 500;
  margin: 2rem 0;
  font-size: 2rem;
}

h4 {
  font-weight: 500;
  margin: 1.5rem 0;
  font-size: 1.8rem;
}

h5 {
  font-weight: 600;
  margin: 1rem 0;
  font-size: 1.6rem;
}

p {
  line-height: 2rem;
  margin: 0;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email] {
  border: 2px solid #fefefe;
  background: #fefefe;
  font-family: "Nunito";
  height: 4rem;
  padding: 0 0.5rem;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  border-radius: 2px;
  outline: none;
}

input[type=text]:focus,
input[type=text]:active,
input[type=password]:focus,
input[type=password]:active,
input[type=tel]:focus,
input[type=tel]:active,
input[type=email]:focus,
input[type=email]:active {
  border-color: #512da8;
}

textarea {
  display: block;
  border: 2px solid #fefefe;
  background: #fefefe;
  width: 100%;
  resize: vertical;
  font-size: 1.4rem;
  border-radius: 2px;
  outline: none;
  padding: 0.5rem;
  font-family: "Nunito";
  min-height: 6rem;
}

textarea:focus,
textarea:active {
  border-color: #512da8;
}

label {
  font-size: 1.3rem;
  font-weight: 700;
}

.input-wrap label {
  display: block;
  margin-bottom: 0.3rem;
}

.check-wrap {
  display: grid;
  grid-gap: 1.5rem;
}

.check-wrap.inline {
  display: flex;
}

.check-wrap.inline label {
  margin-right: 1.5rem;
}

.check-wrap label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check-wrap span {
  font-size: 1.4rem;
}

.input-wrap .description,
.check-wrap .description {
  display: block;
  font-size: 1.2rem;
  color: #37474f;
  margin: 0.2rem 0;
}

.form-wrap {
  display: grid;
  grid-gap: 2rem;
}

.button,
button {
  text-decoration: none;
  height: 4rem;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-family: "Nunito";
  font-size: 1.4rem;
  background: #00897b;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.button.full-width,
button.full-width {
  display: block;
  width: 100%;
}

.button.secondary,
button.secondary {
  background: #37474f;
}

.button.action,
button.action {
  background: linear-gradient(300deg, #673ab7 20%, #512da8 50%, #311b92 75%);
}

.button.error,
button.error {
  background: #d52020;
}

.sink {
  padding: 4rem;
}

.sink .grid .col.first {
  padding: 1.5rem;
  text-align: center;
  background-color: #512da8;
  color: #ffffff;
}

.admin-wrap {
  display: grid;
  grid-template-columns: 30rem 1fr;
  min-height: 100vh;
}

.admin-wrap .sidebar {
  background: #37474f;
  color: #eceff1;
  padding: 4rem 2rem;
}

.admin-wrap .sidebar .sidebar-title {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.admin-wrap .sidebar .nav-section {
  margin-bottom: 4rem;
}

.admin-wrap .sidebar .nav-section .section-title {
  color: #CFD8DC;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.admin-wrap .sidebar .nav-section .nav-list {
  font-size: 1.3rem;
}

.admin-wrap .sidebar .nav-section .nav-list li {
  margin-bottom: 1rem;
}

.admin-wrap .sidebar .nav-section .nav-list li a {
  color: #eceff1;
  transition: color 0.2s ease-in-out;
}

.admin-wrap .sidebar .nav-section .nav-list li a:hover {
  color: #CFD8DC;
}

.admin-wrap .content {
  padding: 2rem;
}

.post-sidebar {
  background: #CFD8DC;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 2px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito";
  font-size: 62.5%;
  background: #eceff1;
}

body {
  font-size: 1.4rem;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.login form {
  border-radius: 2px;
  width: 30rem;
  padding: 4rem 2rem;
}

.login form h1 {
  text-align: center;
  font-weight: normal;
}

